<div class="login-container">
  <p class="text-center"><strong>LOG IN</strong></p>
  <form class="form" [formGroup]="loginForm">
    <mat-form-field class="form-control">
      <input matInput formControlName="email" type="text" name="email-hasura"/>
    </mat-form-field>
    <mat-form-field class="form-control">
      <input matInput formControlName="password" type="password"/>
    </mat-form-field>
    <div class="form-footer">
      <button mat-button (click)="onLogin()" class="btn btn-primary ">LOG IN</button>
      <button mat-button (click)="onLoginWithGoogle()" class="btn btn-primary">LOGIN WITH GOOGLE</button>
      <p>Are you a new user? <a routerLink="/signup" class="btn btn-link">SIGN UP</a></p>
    </div>
    
  </form>
</div>