<div class="login-container">
  <form class="form" [formGroup]="loginForm">
    <mat-form-field class="form-control">
      <input matInput formControlName="email" type="text" name="email-hasura"/>
    </mat-form-field>
    <mat-form-field class="form-control">
      <input matInput formControlName="password" type="password"/>
    </mat-form-field>
    <div class="form-footer">
      <button mat-button (click)="onLogin()" class="btn btn-primary ">login</button>
      <a routerLink="" (click)="onSignUp()">create a user</a>
    </div>
    <div class="google-login">
      <button mat-button (click)="onLoginWithGoogle()" class="btn btn-primary">login with Google</button>
    </div>
  </form>
</div>