:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .form {
    width: 20rem;
  }
  .form-control {
    display: block;
  }
  .form-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    height: 150px;
  }

.login-container {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;

    .mat-form-field {
      margin-bottom: 10px;
    }
}
